@using SandersA_VideoGameLibrary1.Data.Models
@model VideoGame

<div class="game-view">
	<div class="left-side">
		<img class="box-art" src="@Model.Image" alt="@Model.Title Box Art"/>
		<form asp-page-handler="Delete" method="post" asp-route-id="@Model.Id">
			<button class="btn-danger justify-bottom" type="submit">Delete</button>
		</form>
	</div>
	<div class="game-info">
		<h2>@Model.Title - (@Model.Year)</h2>
		<h4>Platform: @string.Join(", ", Model.Platforms).</h4>
		<h4>Genre: @Model.Genre</h4>
		<h4>Rating: @Model.Rating</h4>
		@{
			if (Model.LoanedTo != null && Model.LoanedTo != "")
			{
				<h3 class="fw-bold">Loaned to: @Model.LoanedTo</h3>
				<h3 class="fw-bold">Loaned on: @Model.LoanDate</h3>

				<form asp-page-handler="Return" method="post" asp-route-id="@Model.Id">
					<button class="btn-loan justify-bottom" type="submit">Return Game</button>
				</form>
			}
			else
			{
				<form asp-page-handler="Loan" method="post" asp-route-id="@Model.Id">
					<input class="input stack-bottom" asp-for="@Model.NewLoan" placeholder="Loan To" />
					<br />
					<input class="input justify-bottom" asp-for="@Model.NewLoanDate" type="date" value="@DateOnly.FromDateTime(DateTime.Now)" />
					<button class="btn-loan justify-bottom" type="submit">Loan Game</button>
				</form>
			}
		}
	</div>
</div>